html,
body {
    height: 100%;
}
body {
    font-family: "Raleway", serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #f9fafb;
}
.MuiBadge-badge {background: #ff5252 !important;}

.ReactCollapse--collapse {
  transition: height 300ms;
}

.main {
    position: relative;
}

.contentMain {
    margin-top: 60px;
    min-height: calc(100vh - 60px);
    display: flex;
}

.contentWrapper {
    padding: 24px;
    transition: margin-left 0.3s ease;
    background: #f9fafb;
    min-height: calc(100vh - 60px);
    max-height: calc(100vh - 60px);
    overflow-y: auto;
    box-sizing: border-box;
}

@media (max-width: 1024px) {
    .contentWrapper {
        margin-left: 0 !important;
        max-height: calc(100vh - 60px);
        min-height: calc(100vh - 60px);
        overflow-y: auto;
    }
}
.btn-blue{background: #3872fa !important; color: #fff !important; padding: 8px 20px !important;}
.btn-blue:hover{background: #3067e5 !important;}
.btn-lg{padding: 8px 20px !important; font-size: 16px !important;}

a.active button{background: #dcdcdc !important;}

.MuiButton-icon svg{font-size: 30px !important;}

.css-rizt0-MuiTypography-root{font-size: 14px !important;}
