.sidebar .scroll {
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.sidebar .scroll::-webkit-scrollbar{width: 5px !important; height: 5px !important;}
.sidebar .scroll::-webkit-scrollbar-thumb{background: #ccc !important;}

.range-slider{height: 3px !important;}
.range-slider .range-slider__thumb{width: 14px !important; height: 14px !important;}
.range-slider .range-slider__thumb{background: #ff5252 !important;}
.range-slider .range-slider__range{background: #ff5252 !important;}

.sidebar .MuiCheckbox-root.Mui-checked {
    color: #ff5252 !important;
}

.sidebar .MuiCheckbox-root:hover {
    background-color: rgba(255, 82, 82, 0.04) !important;
}